<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <%= link_to 'Patrimônio', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#barraNavegacao" aria-controls="barraNavegacao" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="barraNavegacao">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item <%= classe_pagina_ativa(items_path) %>">
        <%= link_to 'Itens', items_path, class: 'nav-link' %>
      </li>

      <li class="nav-item <%= classe_pagina_ativa(locals_path) %>">
        <%= link_to 'Locais', locals_path, class: 'nav-link' %>
      </li>

      <li class="nav-item <%= classe_pagina_ativa(estados_path) %>">
        <%= link_to 'Estados', estados_path, class: 'nav-link' %>
      </li>

      <li class="nav-item <%= classe_pagina_ativa(estados_path) %>">
        <%= link_to 'Silom', siloms_path, class: 'nav-link' %>
      </li>

      <li class="nav-item <%= classe_pagina_ativa(estados_path) %>">
        <%= link_to 'Leituras', leituras_index_path, class: 'nav-link' %>
      </li>

      <li class="nav-item <%= classe_pagina_ativa(estados_path) %>">
        <%= link_to 'Impressões', impressaos_index_path, class: 'nav-link' %>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto">
      <% if usuario_signed_in? %>
        <li class="nav-item"><%= link_to current_usuario.email, edit_usuario_registration_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Sair', destroy_usuario_session_path, class: 'nav-link', method: :delete %></li>
      <% else %>
        <li class="nav-item"><%= link_to 'Entrar', new_usuario_session_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Cadastrar', new_usuario_registration_path, class: 'nav-link' %></li>
      <% end %>
    </ul>

      <!--
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdownNavegacao" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdownNavegacao">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>

    <ul class="nav navbar-nav pull-right">
      <% if usuario_signed_in? %>
        <li><%= current_usuario.email %></li>
        <li><%= link_to 'Sair', destroy_usuario_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Entrar', new_usuario_session_path %></li>
        <li><%= link_to 'Cadastrar', new_usuario_registration_path %></li>
      <% end %>
    </ul>

    <form class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="Search">
    </form>
    -->
  </div>
</nav>
