<div class="container">

  <div class="py-5 text-center">
    <h2><%= @local.nome%></h2>
  </div>

  <p>
    <strong>Local:</strong>
    <%= @local.nome %>, <%= @local.sala %>, <%= @local.predio %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= @local.descricao %>
  </p>

  <div class='py-5'>
    <%= link_to 'Editar', edit_local_path(@local) , class:'btn btn-secondary my-2' %>
    <%= link_to 'Voltar', locals_path, class:'btn btn-secondary my-2' %>
  </div>

</div>