<!--
<table class="responsive nowrap table table-hover" id="dttb-categorias" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="nome">Nome</th>
      <th data-data="descricao">Descricao</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>
-->
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">
      Categorias
    </h1>
    <p class="lead text-muted">
      Gerencie as categorias que os itens podem assumir.
    </p>
    <p>
       <%if policy(Categoria).new? %>
      <%= link_to 'Nova Categoria', new_categoria_path, class: 'btn btn-primary my-2' %>
       <%end%>
    </p>
  </div>
</section>


<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

      <% @categorias.each do |categoria| %>
      <div class="col-lg-4 col-sm-6">
        <div class="card mb-4 shadow-sm"><div class="card-body">
            <h4 class="card-title">
              <%= link_to categoria.nome, categoria %>
            </h4>
            <p class="card-text">
              <%= categoria.descricao %>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                 <%if policy(Categoria).edit? %>
                <%= link_to 'Editar', edit_categoria_path(categoria), class:'btn btn-sm btn-outline-secondary' %>
                 <%end%>
                 <%if policy(Categoria).destroy? %>
                <%= link_to 'Apagar', categoria, method: :delete, data: { confirm: 'Confirma apagar?' }, class:'btn btn-sm btn-outline-secondary' %>
               <%end%>
              </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>
