<%= flash[:notice] %>

<div class="table-responsive">
<table class="table table-hover table-striped">
<caption>Lista de itens atuais do siloms.</caption>
    <thead>
        <tr>
            <th>BMP</th>
            <th>NOMECLATURA_COMPONENTE</th>
            <th>CLASSE</th>
            <th>SITUACAO</th>
            <th>CONTA</th>
            <th>DEPENDENCIA</th>
            <th>SERIE</th>
            <th>PN</th>
            <th>SISPAT</th>
            <th>FCG</th>
            <th>ETIQUETA_METALICA</th>
            <th>QUANTIDADE</th>
            <th>VALOR_ATUALIZADO</th>
            <th>VALOR_DEPRECIADO_ACUMULADO</th>
            <th>VALOR_LIQUIDO</th>
        </tr>
    </thead>
    <tbody>
        <% @siloms.each do |silom| %>
            <tr>
                <th scope="row"><%= silom.bmp %></th>
                <td><%= silom.nomeclatura %></td>
                <td><%= silom.classe %></td>
                <td><%= silom.situacao %></td>
                <td><%= silom.conta %></td>
                <td><%= silom.dependencia %></td>
                <td><%= silom.serie %></td>
                <td><%= silom.pn %></td>
                <td><%= silom.sispat %></td>
                <td><%= silom.fcg %></td>
                <td><%= silom.etiqueta %></td>
                <td><%= silom.qtd %></td>
                <td><%= silom.valor_atualizado %></td>
                <td><%= silom.valor_depreciado %></td>
                <td><%= silom.valor_liquido %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<div>
</div>

<h1>Importar os dados</h1>
<%= form_tag import_siloms_path, multipart:true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
    <% end %>
</div>
