<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :estado %>
  <%= form.select :estado_id, options_for_select(Estado.all.map{|s|[s.nome, s.id]}) %>
  </div>

  <div class="field">
  <%= form.label :local %><br />
  <%= form.select :local_id, options_for_select(Local.all.map{|s|[s.nome, s.id]}) %>
  </div>

  <div class="field">
  <%= form.label :usuario %><br />
  <%= form.select :usuario_id, options_for_select(Usuario.all.map{|s|[s.nome, s.id]}) %>
  </div>

  <div class="field">
  <%= form.label :silom %><br />
  <%- #f.text_field :silom_nomeclatura, data: { autocomplete_source: siloms_path} -%>

  <%= form.select :silom_id, options_for_select(@siloms) %>

  </div>

  <div class="actions">
    <%= form.submit "Criar Item"%>
  </div>
<% end %>
