<%= form_with(model: item, local: true, class:'needs-validation', :html => {:novalidate => true}) do |form| %>

  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "erro") %> impediram que esse item fosse salvo:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :nome %>
    <%= form.text_field :nome, :required => true, class:'form-control' %>
    <div class="invalid-feedback">
      Por favor, forneça um nome para o item.
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :descricao %>
    <%= form.text_area :descricao, class:'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :estado %>
    <%= form.select :estado_id, options_for_select(Estado.all.map{|s|[s.nome, s.id]}, :selected => @item.estado_id), {}, {:required => true, :class => 'custom-select d-block w-100'} %>
    <div class="invalid-feedback">
      Por favor, selecione um estado.
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :local %>
    <%= form.select :local_id, options_for_select(Local.all.map{|s|[s.nome, s.id]}, :selected => @item.local_id), {}, {:required => true, :class => 'custom-select d-block w-100'} %>
    <div class="invalid-feedback">
      Por favor, selecione um local.
    </div>
  </div>

  <div class="mb-3">
    <%= form.label 'Responsável' %>
    <%= form.select :usuario_id, options_for_select(Usuario.all.map{|s|[s.nome, s.id]}, :selected => @item.usuario_id), {}, {:required => true, :class => 'custom-select d-block w-100'} %>
    <div class="invalid-feedback">
      Por favor, selecione um detentor.
    </div>
  </div>

  <% if not @item.persisted? %>
    <div class="mb-3">
      <%= form.label :silom %>
      <%= form.select :silom_id, options_for_select(@siloms), {}, {:required => true} %>
      <div class="invalid-feedback">
        Por favor, selecione um item do Silom.
      </div>
    </div>
  <% end %>

  <hr class="mb-4">
  <%= form.submit (@item.persisted? ? 'Atualizar' : 'Criar') + ' Item', class:'btn btn-primary btn-lg btn-block'%>

<% end %>


<script>
$(criarCombobox);
validarFormulario();
</script>
