<p id="notice"><%= notice %></p>

<p>
  <strong>Descrição:</strong>
  <%= @item.descricao %>
</p>

<p>
  <strong>QR Code:</strong>
  <%= @item.qr_code %>
</p>

<%= link_to 'Editar', edit_item_path(@item) %> |
<%= link_to 'Voltar', items_path %>
