<div class="container text-center">

  <div class="py-5">
    <h2>Editar <%= resource_name.to_s.humanize %></h2>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="mb-3">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :required => true, class:'form-control' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="mb-3">
      <%= f.label 'Mudar senha' %> <i>(deixe em branco se não quiser mudar)</i>
      <%= f.password_field :password, autocomplete: "new-password", class:'form-control' %>
      <% if @minimum_password_length %>
        <br />
        <em>no mínimo <%= @minimum_password_length %> caracteres</em>
      <% end %>
    </div>

    <div class="mb-3">
      <%= f.label 'Confirmação de mudança de senha' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control' %>
    </div>

    <div class="mb-3">
      <%= f.label 'Senha atual' %> <i>(é necessário a senha atual para efetuar as mudanças)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class:'form-control', :required => true %>
    </div>

    <%= f.submit "Atualizar", class:'btn btn-primary btn-lg btn-block'%>

  <% end %>

  <div class="py-5">
    <%= link_to "Voltar", :back %>
  </div>
</div>