<div class="container">

  <div class="py-5 text-center">
    <h2><%= @local.nome%></h2>
  </div>

  <p>
    <strong>Local:</strong>
    <%= @local.nome %>, <%= @local.descricao %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= @local.descricao %>
  </p>

  <%= render 'layouts/tabela_itens', itens: @itens %>

  <div class='py-5'>
     <%if policy(Local).edit?%>
    <%= link_to 'Editar', edit_local_path(@local) , class:'btn btn-secondary my-2' %>
     <%end%>
    <%= link_to 'Voltar', locais_path, class:'btn btn-secondary my-2' %>
  </div>

</div>
